body{
    display: flex;
    background-color: aqua;
}

.calButtons{
    
    font-size: 20px;
    border-color: black;
    border-style: outset;
    width: 30%;
    height: 30%;
    outline: none;
    border-radius: 5px;

    
}
.screen{
   font-size: 20px;
    width: 10px;
    background-color:aqua;
    margin:10px;
    padding: 10px;

}
.calculator{
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 19);
}
.screen{
    border-color: black;
    border-width: 3px;
    border-style: dotted;
    width: 80%;
    height: 20%;
    justify-content: center;
    align-items: center;
}