body{
    /* display: flex; */
    background-color: rgb(165, 165, 165);
}

.calButtons{
    
    font-size: 50px;
    border-color: rgb(124, 119, 119);
    border-style: solid;
    width: 35%;
    height: 35%;
    margin: 0px;
    padding: 0px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 19);
    
}

.calculator{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    padding: 5px;
    border-radius: 10px;
    border-color: rgb(180, 174, 174);
    border-width: 10px;
    border-style: outset;
    margin:0;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 19);
}

.operatorButtons{
   
    height: 60%;
    width: 20;
    
   
}
.clearDel{
    color:rgb(97, 66, 8);
    
}
.screen{
    display: flex;
    font-size: 50px;
    align-items: right;
    justify-content: space-around;
    width: 90%;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    border-style: outset;
}
.numberButtons{
    width: 900/17 px;
    
}